[submodule "SwiftyJSON"]
	path = SwiftyJSON
	url = https://github.com/SwiftyJSON/SwiftyJSON.git
[submodule "MessagePack.swift"]
	path = MessagePack.swift
	url = https://github.com/a2/MessagePack.swift.git
