[submodule "Alamofire"]
	path = Alamofire
	url = ../../Alamofire/Alamofire.git
[submodule "XCGLogger"]
	path = XCGLogger
	url = https://github.com/DaveWoodCom/XCGLogger.git
[submodule "SwiftyJSON"]
	path = SwiftyJSON
	url = https://github.com/acegreen/SwiftyJSON.git
